@import url(https://db.onlinewebfonts.com/c/c2988552206031b82497c4a05a393759?family=Novecento+WideMedium);

@font-face {
    font-family: "Novecento WideMedium";
    src: url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.eot");
    src: url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.svg#Novecento WideMedium")format("svg");
}

/* Reset e box-sizing */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Novecento WideMedium";
    position: relative; /* Adiciona position relative ao body */
    background: linear-gradient(to right, #11b411, #005200); /* Gradiente aplicado diretamente ao body */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    z-index: 0; /* Garante que o body fique atrás dos pseudo-elementos */
    /* Alterações para o flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before,
body::after {
    content: '';
    margin-top: -2.5rem;
    position: absolute;
    top: 0;
    width: 50%; /* Ajuste a largura conforme necessário */
    height: 100%;
    background-image: url('../../assets/padrao1.png'); /* Caminho relativo à imagem de fundo */
    background-repeat: repeat-y; /* A imagem se repete apenas verticalmente */
    background-size: auto; /* Mantém o tamanho original da imagem */
    z-index: -1; /* Coloca os pseudo-elementos atrás do conteúdo do body */
    opacity: .5;
}

body::before {
    left: 0; /* Posiciona o primeiro pseudo-elemento no lado esquerdo */
    top: 0;
}

body::after {
    top: 0;
    right: 0; /* Posiciona o segundo pseudo-elemento no lado direito */
    transform: scaleX(-1);
}

section {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.p-base {
    font-size: .8rem;
    color: white;
    margin-bottom: 1rem;
    text-align: justify;
}

.p-values {
    font-size: .8rem;
    color: white;
    margin-bottom: 2rem;
    text-align: justify;
    justify-self: center;
    max-width: 35rem;
}

p {
    font-size: .8rem;
    text-align: center;
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 25px;
    margin-top: 3.5rem;
    margin-bottom: 4.7rem;
}

.content-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 3rem;
    border: 5px solid white;
    border-radius: 5px;
}

.text-content {
    flex: 1;
    text-align: center;
    max-width: 500px;
}

/* Ajustes para o gap entre texto e borda */
.quem-somos .text-content {
    max-width: 28rem;
    margin-left: -7px;
}

.nossa-historia .text-content {
    max-width: 40rem;
    margin-left: 40px;
}

.text-content h2 {
    text-align: center;
    margin-top: 0;
}

.image-box {
    width: 350px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.values-section {
    border: 5px solid white;
    border-radius: 5px;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.value-item {
    background-color: #005200;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: white;

}

.value-item h3 {
    margin-bottom: 15px;
}

.return-button {
    text-align: center;
    display: block; /* Faz o botão ocupar toda a largura disponível */
    width: 20rem;
    margin: 40px auto 15px; /* Centraliza horizontalmente e adiciona margem acima */
    padding: 10px 20px; /* Ajusta o preenchimento interno para o tamanho */
    background-color: white;
    color: #005200;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: "Novecento WideMedium";
    font-size: .9rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.return-button:hover {
    transform: scale(1.1);
}

/* Media Query para telas menores que 950px */
@media (max-width: 950px) {
    .container {
        max-width: 100%;
    }

    .content-container {
        flex-direction: column;
        margin-bottom: 20px;
        gap: 0;
        padding: 20px;
    }

    .text-content {
        max-width: 100%;
    }

    .quem-somos .text-content,
    .nossa-historia .text-content {
        padding: 0;
        margin: 0;
    }

    .image-box {
        width: 100%;
        max-width: 40rem;
        height: 20rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .values-grid {
        grid-template-columns: 1fr; /* Altera para uma coluna */
    }

    .p-base {
        max-width: 40rem;
        text-align: justify;
    }

    .p-values {
        max-width: 90%;
        text-align: justify;
    }

    p {
        text-align: center;
    }

    h3 {
        margin-top: 0;
    }

    .values-section {
        justify-self: center;
        max-width: 30rem;
    }

    .return-button {
        width: 15rem;
        font-size: .7rem;
    }
}

@media (max-width: 1400px) {
    body::before, body::after {
        display: none;
    }
}

.logo-area {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo-text {
    color: white;
    font-size: 1.8rem;
    margin-left: 1rem;
    font-family: "Novecento WideMedium";
}

/* Estilos para o fundo escurecido */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Abaixo da imagem, mas acima do resto */
    display: none; /* Inicialmente oculto */
}

.nav {
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin-left: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: .1rem;
    transition: color 0.3s;
    font-family: "Novecento WideMedium";
}

.nav ul li a:hover {
    color: #ffff06;
}

/* Estilos do Footer */

footer {
    width: 100%;
    background-color: #005200;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    /* position: absolute; */
    bottom: 0;
    /* Para o footer "empurrar" o conteúdo para cima */
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-text {
    line-height: 1.5;
    margin-bottom: 0;
    font-family: "Novecento WideMedium";
    margin-top: 0;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 3px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: "Novecento WideMedium";
}

.footer-social-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.footer-copyright {
    /* ... suas outras propriedades ... */
    font-family: Arial, sans-serif; /* Define a fonte como Arial */
    text-align: center; /* Centraliza o texto (opcional, mas comum em footers) */
    font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 1.5rem 0 -1rem; /* Ajuste as margens conforme necessário */
}

/* Início das Media Queries */

/* Media Query -2: ... - 419px*/
@media (max-width: 419px) {
    body::before,
    body::after {
        height: 108%;
    }

    .nav ul li a {
        display: none;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .77rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .77rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

}

/* Media Query -1: 419px - 677px*/
@media (min-width: 419px) and (max-width: 677px) {
    body::before,
    body::after {
        height: 105.6%;
    }

    .nav ul li a {
        display: none;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .77rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .77rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

    }

/* Media Query 0: 678px - 849px */
@media (min-width: 678px) and (max-width: 849px) {
    body::before,
    body::after {
        height: 103.7%;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0; /* Removendo margens */
        padding: 0; /* Removendo paddings */
        width: fit-content;
    }

    .nav ul li a {
        display: none;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .77rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .77rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

}

/* Media Query 1 (Telefone XS - Tablet L): 850px - 1023px */
@media (min-width: 850px) and (max-width: 1024px) {
    body::before,
    body::after {
        height: 103.7%;
    }

    .nav ul li a {
        display: none;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .8rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .8rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

}

/* Media Query 2 (PC XS e Tablets XL): 1024px - 1389px */
@media (min-width: 1024px) and (max-width: 1389px) {
    body::before,
    body::after {
        height: 103.4%;
        margin-top: -4.3rem;
    }

    .nav ul li a {
        display: none;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .8rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .8rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

}

/* Media Query 3 (PC S - PC XL): 1390px - ... */
@media (min-width: 1390px) {

    .nav ul li a {
        font-size: .9rem;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .8rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .8rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

}

/* Media Queries para o menu secundário */

@media (min-width: 320px) and (max-width: 678px) {

    .secondary-menu-toggle {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;
    }

    .secondary-menu-icon {
        width: 1.2rem;
        height: auto;
        transition: 0.2s ease; /* Animação de entrada e saída */
    }

    .secondary-menu-icon:hover {
        transform: scale(1.1);
    }

    .secondary-menu {
        position: fixed;
        top: 0;
        left: -100%; /* Começa fora da tela */
        width: 20rem;
        height: 21rem;
        border-radius: 0 0 1rem 0;
        background-color: white;
        z-index: 10001; /* Acima do header */
        transition: left 0.2s ease; /* Animação de entrada e saída */
        overflow-y: hidden;
    }

    .secondary-menu.active {
        left: 0; /* Move para a tela quando ativo */
    }

    .secondary-menu ul {
        padding: 1rem;
    }

    .secondary-menu ul li {
        margin-bottom: 1rem;
        border-bottom: 1px solid #ccc; /* Linha separadora */
        padding-bottom: 1rem;
    }

    .secondary-menu ul li a {
        text-decoration: none;
        color: #005200; /* Cor do texto do menu */
        font-size: 1rem;
        font-family: "Novecento WideMedium";
        display: block;
    }

    .secondary-menu ul li a:hover {
        color: #009200;
    }

    /* Adição de Estilos para os Contatos do Menu Secundário */
    .secondary-menu-contacts {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0 3rem 0rem 3rem;
        margin-top: -.5rem;
    }

    .secondary-menu-contacts a {
        display: flex;
    }

    .secondary-menu-contacts-icon {
        width: 2rem;
        height: auto;
    }

}

    @media (min-width: 678px) and (max-width: 1390px) {

    /* Menu de Navegação */
    .secondary-menu-toggle {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-left: 1rem;
    }

    .secondary-menu-icon {
        width: 100%;
        height: auto;
        transition: 0.2s ease; /* Animação de entrada e saída */
    }

    .secondary-menu-icon:hover {
        transform: scale(1.1);
    }

    .secondary-menu {
        position: fixed;
        top: 0;
        left: -50%; /* Começa fora da tela */
        width: 20rem;
        height: 21rem;
        border-radius: 0 0 1rem 0;
        background-color: white;
        z-index: 10001; /* Acima do header */
        transition: left 0.2s ease; /* Animação de entrada e saída */
        overflow-y: hidden;
    }

    .secondary-menu.active {
        left: 0; /* Move para a tela quando ativo */
    }

    .secondary-menu ul {
        padding: 1rem;
    }

    .secondary-menu ul li {
        margin-bottom: 1rem;
        border-bottom: 1px solid #ccc; /* Linha separadora */
        padding-bottom: 1rem;
    }

    .secondary-menu ul li a {
        text-decoration: none;
        color: #005200; /* Cor do texto do menu */
        font-size: 1rem;
        font-family: "Novecento WideMedium";
        display: block;
    }

    .secondary-menu ul li a:hover {
        color: #009200;
    }

    /* Adição de Estilos para os Contatos do Menu Secundário */
    .secondary-menu-contacts {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0 3rem 0rem 3rem;
        margin-top: -.5rem;
    }

    .secondary-menu-contacts a {
        display: flex;
    }

    .secondary-menu-contacts-icon {
        width: 2rem;
        height: auto;
    }
}

@media (min-width: 1390px) {
    .secondary-menu-toggle, .secondary-menu{
        display: none;
    }
}



















/* #region Header */
header {
    background: linear-gradient(to right, #008300, #003d00);
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

.logo-area {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo-text {
    color: white;
    font-size: 1.8rem;
    margin-left: 1rem;
    font-family: "Novecento WideMedium";
}

.nav {
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin-left: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    transition: color 0.3s;
    font-family: "Novecento WideMedium";
}

.nav ul li a:hover {
    color: #ffff06;
}

.header-contacts {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: .9rem;
    margin-right: 1rem;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header-contacts button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #006200;
    transition: 0.3s;
    cursor: pointer;
}

.header-contacts-icon {
    width: auto;
    height: 26px;
}

.header-contacts button:hover {
    background-color: #009200;
    transform: scale(1.1);
}

/* Media Queries do Header */

/* Media Query -2: ... - 419px*/
@media (max-width: 419px) {

    /* Estilos do Header */
    header {
        height: 2.5rem;
    }

    .container-header {
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .header-contacts {
        display: none;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .logo img {
        height: 30.4px;
        width: 28.99px;
        margin-right: .5rem;
        padding-top: .1rem;
    }

    .logo-text {
        margin: 0;
        font-size: 1rem;
        padding: 0;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }
}

/* Media Query -1: 419px - 677px*/
@media (min-width: 419px) and (max-width: 677px) {

    /* Estilos do Header */
    header {
        height: 2.5rem;
    }

    .container-header {
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .header-contacts {
        display: none;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .logo img {
        height: 30.4px;
        width: 28.99px;
        margin-right: .5rem;
        padding-top: .1rem;
    }

    .logo-text {
        margin: 0;
        font-size: 1rem;
        padding: 0;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }
}

/* Media Query 0: 678px - 849px */
@media (min-width: 678px) and (max-width: 849px) {

    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .container-header {
        justify-content: space-between;
    }

    .header-contacts {
        display: none;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .logo img {
        height: 56px;
        width: 56.36px;
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }
}

/* Media Query 1 (Telefone XS - Tablet L): 850px - 1023px */
@media (min-width: 850px) and (max-width: 1023px) {

    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .container-header {
        justify-content: space-between;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .logo img {
        height: 56px;
        width: 56.36px;
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }
}

/* Media Query 2 (PC XS e Tablets XL): 1024px - 1389px */
@media (min-width: 1024px) and (max-width: 1389px) {

    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .container-header {
        justify-content: space-between;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .logo img {
        height: 56px;
        width: 56.36px;
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        font-size: 1.5rem;
        white-space: nowrap;
    }

    /* Menu de Navegação */
    .secondary-menu-toggle {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-left: 1rem;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }
}

/* Media Query 3 (PC S - PC XL): 1390px - ... */
@media (min-width: 1390px) {
    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .logo img {
        height: 56px;
        width: 56.36px;
        margin: .5rem;
    }

    .logo-text {
        font-size: 1.8rem;
    }

    .nav ul li a {
        font-size: .9rem;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }
}

/*#endregion*/
