/* Importando a fonte novecento */
@import url(https://db.onlinewebfonts.com/c/c2988552206031b82497c4a05a393759?family=Novecento+WideMedium);

@font-face {
    font-family: "Novecento WideMedium";
    src: url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.eot");
    src: url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c2988552206031b82497c4a05a393759.svg#Novecento WideMedium")format("svg");
}

/* Estilos gerais */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: linear-gradient(to right, #11b411, #005200);
    color: white;
    font-family: "Novecento WideMedium";
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden; /* Para evitar barras de rolagem desnecessárias */
    padding-top: 5rem;;
}

body::before {
    content: '';
    position:fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-image: url("../../assets/padrao1.png"), url("../../assets/padrao1.png");
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
    background-size: auto 100%; /* Ajuste conforme necessário */
    pointer-events: none; /* Para que o fundo não intercepte eventos do mouse */
    z-index: -1; /* Garante que o pseudo-elemento fique atrás do conteúdo */
}

.container {
    background-color: #005200; /* Fundo semi-transparente para se misturar com o gradiente */
    padding: 2rem;
    border-radius: 5px; /* Bordas arredondadas */
    margin-left: 1rem;
    margin-right: 1rem;
    
    /* Centralização */
    justify-self: center;
    margin-top: 1rem;
}

h1 {
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

p {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.icons {
    display: flex;
    margin-top: 1rem;
    gap: 30px;
    justify-content: center; /* Centraliza os ícones horizontalmente */
}

.icons img {
    width: auto;
    height: 50px;
    transition: 0.2s ease;
}

.icons img:hover {
    transform: scale(1.1);
}

/* Estilos do Header */
header {
    background: linear-gradient(to right, #008300, #003d00);
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

.logo-area {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
    height: 3.5rem;
}

.logo-text {
    color: white;
    font-size: 1.8rem;
    margin-left: 1rem;
    font-family: "Novecento WideMedium";
}

/* Estilos para o fundo escurecido */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Abaixo da imagem, mas acima do resto */
    display: none; /* Inicialmente oculto */
}

.nav {
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin-left: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: .1rem;
    transition: color 0.3s;
    font-family: "Novecento WideMedium";
}

.nav ul li a:hover {
    color: #ffff06;
}

.header-contacts {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: .9rem;
    margin-right: 1rem;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header-contacts button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #006200;
    transition: 0.3s;
    cursor: pointer;
}

.header-contacts-icon {
    width: auto;
    height: 26px;
}

.header-contacts button:hover {
    background-color: #009200;
    transform: scale(1.1);
}

/* Estilos do Footer */
footer {
    width: 100%;
    background-color: #005200;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.7rem;
    font-size: 17px;
    position: absolute;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-text {
    line-height: 1.5;
    margin-bottom: 0;
    font-family: "Novecento WideMedium";
    margin-top: 0;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 3px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: "Novecento WideMedium";
}

.footer-social-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.footer-copyright {
    /* ... suas outras propriedades ... */
    font-family: Arial, sans-serif; /* Define a fonte como Arial */
    text-align: center; /* Centraliza o texto (opcional, mas comum em footers) */
    font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 1.5rem 0 -1rem; /* Ajuste as margens conforme necessário */
}

/* Início das Media Queries */

/* Media Query -2: ... - 419px*/
@media (max-width: 419px) {
    body {
        padding-top: 2.5rem;
    }

    body::before {
        display: none;
    }
    
    /* Estilos do Header */
    header {
        height: 2.5rem;
    }

    .container-header{
        margin: 0;
        padding: 0;
        justify-content: space-between; /* Adicionado para melhor distribuição */
    }

    .header-contacts {
        display: none;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0; /* Removendo margens */
        padding: 0; /* Removendo paddings */
        width: fit-content;
    }

    .logo img {
        height: 1.6rem;
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        font-size: .6rem;
        padding: 0;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .77rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .77rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

    h1 {
        font-weight: normal;
        font-size: 1rem;
        text-align: center;
        margin-top: 0;
    }

    p {
        font-size: .7rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

}

/* Media Query -1: 419px - 677px*/
@media (min-width: 419px) and (max-width: 677px) {
    body {
        padding-top: 2.5rem;
    }

    body::before {
        display: none;
    }

    /* Estilos do Header */
    header {
        height: 2.5rem;
    }

    .container-header{
        margin: 0;
        padding: 0;
        justify-content: space-between; /* Adicionado para melhor distribuição */
    }

    .header-contacts {
        display: none;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0; /* Removendo margens */
        padding: 0; /* Removendo paddings */
        width: fit-content;
    }

    .logo img {
        height: 1.6rem;
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        font-size: .8rem;
        padding: 0;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .77rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .77rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

    h1 {
    font-weight: normal;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 0;
    }

    p {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    h1 {
        font-weight: normal;
        font-size: 1.1rem;
        text-align: center;
        margin-top: 0;
    }

    p {
        font-size: .8rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    }

/* Media Query 0: 678px - 849px */
@media (min-width: 678px) and (max-width: 849px) {
    body {
        padding-top: 5rem;
    }
    
    body::before {
        display: none;
    }

    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .container-header{
        justify-content: space-between;
    }

    .header-contacts {
        display: none;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0; /* Removendo margens */
        padding: 0; /* Removendo paddings */
        width: fit-content;
    }

    .logo img {
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .77rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .77rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

    h1 {
        font-weight: normal;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0;
    }

    p {
        font-size: .9rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

}

/* Media Query 1 (Telefone XS - Tablet L): 850px - 1023px */
@media (min-width: 850px) and (max-width: 1023px) {
    body {
        padding-top: 5rem;
    }
    
    body::before {
        display: none;
    }

    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .container-header{
        justify-content: space-between;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0; /* Removendo margens */
        padding: 0; /* Removendo paddings */
        width: fit-content;
    }

    .logo img {
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        white-space: nowrap;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .8rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .8rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

    h1 {
        font-weight: normal;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0;
    }

    p {
        font-size: .9rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

}

/* Media Query 2 (PC XS e Tablets XL): 1024px - 1389px */
@media (min-width: 1024px) and (max-width: 1389px) {
    body {
        padding-top: 5rem;
    }
    
    body::before {
        display: none;
    }

    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .container-header{
        justify-content: space-between;
    }

    .logo-area {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0; /* Removendo margens */
        padding: 0; /* Removendo paddings */
        width: fit-content;
    }

    .logo img {
        margin: .5rem;
    }

    .logo-text {
        margin: 0;
        white-space: nowrap;
    }

    /* Menu de Navegação */
    .secondary-menu-toggle {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-left: 1rem;
    }

    .nav ul li a {
        display: none;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .8rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .8rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

    h1 {
        font-weight: normal;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 0;
    }

    p {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

}

/* Media Query 3 (PC S - PC XL): 1390px - ... */
@media (min-width: 1390px) {
    body {
        padding-top: 5rem;
    }
    
    /* Estilos do Header */
    header {
        height: 5rem;
    }

    .logo img {
        height: 3.15rem;
    }

    .logo-text {
        font-size: 1.8rem;
    }

    .nav ul li a {
        font-size: .9rem;
    }

    .header-contact {
        height: 3rem;
    }

    .contact-icon {
        max-height: 3rem;
    }

    /* Estilos do Footer */
    footer {
        font-size: .8rem;
    }

    .footer-social-icon {
        width: 1.12rem;
    }

    .footer-text, .footer-social-link, .footer-copyright {
        font-size: .8rem;
    }

    .footer-social {
        gap: 1.12rem;
    }

    footer {
        padding: 1 0;
    }

    h1 {
        font-weight: normal;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 0;
    }

    p {
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

}

/* Media Queries para o menu secundário */

@media (min-width: 320px) and (max-width: 678px) {

    .secondary-menu-toggle {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;
    }

    .secondary-menu-icon {
        width: 1.2rem;
        height: auto;
        transition: 0.2s ease; /* Animação de entrada e saída */
    }

    .secondary-menu-icon:hover {
        transform: scale(1.1);
    }

    .secondary-menu {
        position: fixed;
        top: 0;
        left: -100%; /* Começa fora da tela */
        width: 20rem;
        height: 21rem;
        border-radius: 0 0 1rem 0;
        background-color: white;
        z-index: 10001; /* Acima do header */
        transition: left 0.2s ease; /* Animação de entrada e saída */
        overflow-y: hidden;
    }

    .secondary-menu.active {
        left: 0; /* Move para a tela quando ativo */
    }

    .secondary-menu ul {
        padding: 1rem;
    }

    .secondary-menu ul li {
        margin-bottom: 1rem;
        border-bottom: 1px solid #ccc; /* Linha separadora */
        padding-bottom: 1rem;
    }

    .secondary-menu ul li a {
        text-decoration: none;
        color: #005200; /* Cor do texto do menu */
        font-size: 1rem;
        font-family: "Novecento WideMedium";
        display: block;
    }

    .secondary-menu ul li a:hover {
        color: #009200;
    }

    /* Adição de Estilos para os Contatos do Menu Secundário */
    .secondary-menu-contacts {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0 3rem 0rem 3rem;
        margin-top: -.5rem;
    }

    .secondary-menu-contacts a {
        display: flex;
    }

    .secondary-menu-contacts-icon {
        width: 2rem;
        height: auto;
    }

}

    @media (min-width: 678px) and (max-width: 1390px) {

    /* Menu de Navegação */
    .secondary-menu-toggle {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-left: 1rem;
    }

    .secondary-menu-icon {
        width: 100%;
        height: auto;
        transition: 0.2s ease; /* Animação de entrada e saída */
    }

    .secondary-menu-icon:hover {
        transform: scale(1.1);
    }

    .secondary-menu {
        position: fixed;
        top: 0;
        left: -50%; /* Começa fora da tela */
        width: 20rem;
        height: 21rem;
        border-radius: 0 0 1rem 0;
        background-color: white;
        z-index: 10001; /* Acima do header */
        transition: left 0.2s ease; /* Animação de entrada e saída */
        overflow-y: hidden;
    }

    .secondary-menu.active {
        left: 0; /* Move para a tela quando ativo */
    }

    .secondary-menu ul {
        padding: 1rem;
    }

    .secondary-menu ul li {
        margin-bottom: 1rem;
        border-bottom: 1px solid #ccc; /* Linha separadora */
        padding-bottom: 1rem;
    }

    .secondary-menu ul li a {
        text-decoration: none;
        color: #005200; /* Cor do texto do menu */
        font-size: 1rem;
        font-family: "Novecento WideMedium";
        display: block;
    }

    .secondary-menu ul li a:hover {
        color: #009200;
    }

    /* Adição de Estilos para os Contatos do Menu Secundário */
    .secondary-menu-contacts {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0 3rem 0rem 3rem;
        margin-top: -.5rem;
    }

    .secondary-menu-contacts a {
        display: flex;
    }

    .secondary-menu-contacts-icon {
        width: 2rem;
        height: auto;
    }
}

@media (min-width: 1390px) {
    .secondary-menu-toggle, .secondary-menu{
        display: none;
    }
}